<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shrishti Singhal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/public/Image/fevicon.jpg" type="image/x-icon">
    <style>
        .h2heading {
            color: aqua;
            background-color: darkblue;
            text-align: center;
            height: 30%;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-style: italic;
        }
        
        body {
            background-color: lightpink;
        }
        
        .h3heading {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-style: oblique;
            background-color: paleturquoise;
            border: groove;
        }
        
        .ps {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-variant: small-caps;
            font-style: italic;
            background-color: lavender;
        }
        
        .mainpic {
            border: outset lavender;
            border-radius: 1rem;
        }
    </style>
</head>

<body>
    <header>
        <a name="Home"></a>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid justify-content-center">
                <a class="navbar-brand" href="#">Shrishti Singhal</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#Home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Education">Education</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#About">About me</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section>
        <div class="container-fluid text-center">
            <img src="public/Image/Shrishti.jpeg.jpg" alt="Shrishti Singhal" width="10%" class="mainpic">
            <h1>Shrishti Singhal</h1>
        </div>
        <div>
            <h2 class="h2heading">My Bio </h2>
            <div class="container">
                <p>
                    To implement my skills which is acquired by me now I want to implement them in better way to explore new things and I know that platform you may give me so that I will develop my skills in real life and also contribute my knowledge to the growth of the
                    company.
                </p>
            </div>
        </div>
        <br><br>
        <!-- Education -->
        <div>
            <a name="Education"></a>
            <h2 class="h2heading">Education</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="container-fluid col">
                    <div class="card" style="width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title">Bharati Vidyapeeth Deemed University Institute of Managament & Research, New Delhi </h5>
                            <h6 class="card-subtitle mb-2 text-muted">Bachelor of Computer Application</h6>
                            <p class="card-text">Overall Percentage: 89.9%</p>
                            <p class="card-text">Starting Year: July 2019</p>
                            <p class="card-text">Ending Year: July 2022</p>
                        </div>
                    </div>
                </div>

                <div class="container-fluid col">
                    <div class="card" style="width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title">Richmond Global School, Paschim Vihar </h5>
                            <h6 class="card-subtitle mb-2 text-muted">12th Standard with Commerce</h6>
                            <p class="card-text">Overall Percentage: 70%</p>
                            <p class="card-text">Starting Year: July 2018</p>
                            <p class="card-text">Ending Year: July 2019</p>
                        </div>
                    </div>
                </div>
                <div class="container-fluid col">
                    <div class="card" style="width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title">Holy Child Sr Sec School Tagore Garden, New Delhi</h5>
                            <h6 class="card-subtitle mb-2 text-muted">10th Standard</h6>
                            <p class="card-text">Overall Percentage: 60.4%</p>
                            <p class="card-text">Starting Year: July 2016</p>
                            <p class="card-text">Ending Year: July 2017</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>

        <a name="About"></a>
        <div>
            <h3 class="h2heading">About me</h3>
        </div>

        <div class="container">
            <div class="row">
                <div class="col col-4">
                    <h3 class="h3heading">Skills</h3>
                </div>
                <div class="col col-6 ps">
                    -C <br> -HTML <br> -JAVA <br> -C# <br> -JavaScript <br> -SQL <br> -Ubuntu
                </div>

            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col col-4">
                    <h3 class="h3heading">Hobbies</h3>
                </div>
                <div class="col col-6 ps">
                    - Explore new things <br> - Learn about new & updates about the technology <br> - Listening Music

                </div>
            </div>
        </div>

        <br>

        <div class="container">
            <div class="row">
                <div class="col col-4">
                    <h3 class="h3heading">Internships</h3>
                </div>
                <div class="col col-8 ps">
                    <b>THINK PC TECH</b>
                    <p>- Social Media Management</p>

                    <b>THE ENTREPRENEURSHIP NETWORK</b>
                    <p>- Worked as Technical Program Management Associate</p>

                    <b>THE ENTREPRENEURSHIP NETWORK</b>
                    <p>- Project Management Team & Developed MVPs, Resource estimates, Raw mockups etc on new project ideas</p>
                </div>
            </div>
        </div>
    </section>

    <footer class="text-center text-white " style="background-color: #21081a;">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            <a href="https://www.instagram.com/shrishtisinghal50/" target="_blank"><img src="public/Image/instagram.png" alt="Instagram" width="2.5%"></a>
            <a href="https://www.facebook.com/shrishti.singhal.35/" target="_blank"><img src="public/Image/facebook.jpg" alt="Facebook" width="2%"></a>
            <!-- <a href=""><img src="public/Image/Twitter.png" alt="Twitter" width="3%"></a> -->
            <a href="https://www.linkedin.com/in/shrishti-singhal-1702401b4/" target="_blank"><img src="public/Image/linkdin.png" alt="Linkedin" width="3.5%"></a>
            <br> <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">shrishtisinghal50@gmail.com</a>
        </div>
        <!-- Copyright -->
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</html>